#btn {
    background-color: rgb(68, 40, 68);
    margin: 5px;
    border-width: 0px
}

#btn:hover {
    background-color:rgb(138, 93, 131);
}

#btn-div {
    text-align: center;
}

#card {
    background: rgba(243, 229, 241, 0.5);
    border-radius: 0px;
    border-color: black;
    border-width: 3.5px;
    margin: 15px
}

#card-image {
    height: 329px;
    width: 329px;
}

#card-title {
    text-align: center;
    font-size: 25px;
}

#card-body {
    border-top-style: solid;
    border-radius: 0px;
    border-color: black;
    border-width: 3.5px
}
