#large-photo {
    margin: 20px;
    width: 750px;
    height: 750px;
    border: solid rgb(68, 40, 68);
    position: relative
}

#large-caption {
    color:rgb(68, 40, 68);
    font-size: 40px;
    background-color: rgb(231, 214, 231);
    border: solid rgb(68, 40, 68);
    padding: 5px;
    position: absolute;
    right: 32px;
    top: 424px
}