header {
    position: relative;
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: rgba(243, 229, 241, 0.5);
    color: black;
    border: solid rgb(68, 40, 68);
}

nav a {
    padding: 5px;
    color:rgb(68, 40, 68)
}

#try {
    padding-top:40px
}