#about-me-row {
    margin-right: 20px;
    text-align: center
}

#about-me-title-div {
    text-align: right;
}

#about-me-title {
    font-size: 40px;
    font-weight:450
}

#about-me-div {
    border-left: solid rgb(68, 40, 68);
    border-width: 10px;
    border-right: solid rgb(68, 40, 68);
    border-width: 10px;
}

#about-me-text {
    padding: 20px;
}

/* #photo-me-div {
    justify-content: left;
} */

#photo-me {
    width: 180px;
    height: 180px;
    border: solid rgb(68, 40, 68);
    text-align: left
;

}


