#entire {
    position: relative;
    bottom: 1%;
    text-shadow: 1px 1px white;
    color: rgb(51, 21, 39);
}


#contact-me-txt {
    text-align: center;
    opacity: 1;
}

#links {
    justify-content: center;
    display: flex;
}

#links a {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 30px;
    color: rgb(68, 40, 68);
}

#phone-number {
    text-align: center;
    color:rgb(68, 40, 68)
}